@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}   


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Căn giữa nội dung */
}

/* Container để giới hạn chiều rộng */
.container {
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
    /* border:1px solid black; */
}

/* Header */
header {
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

/* Logo */
.header-logo img {
    height: 350px;
    width: auto;
}

.header-right {
    display: flex;
    align-items: center;
}

/* Container chứa avatar và nút */
.frame-container {
    position: relative;
    top: 0;
    right: 20px; /* Di chuyển ảnh về bên trái một chút */
    display: inline-block;
    text-align: center;
    transform: rotate(0deg); /* Nghiêng ảnh về bên phải */
}

/* Avatar */
.frame {
    position: absolute;
    top: -220px;
    right: -40px; /* Di chuyển ảnh về bên trái một chút */
    width: 300px;
    z-index: 1;
}