/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Căn giữa nội dung */
}

/* Container để giới hạn chiều rộng */
.container {
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
}

