/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #333;
    color: white;
    max-width: 1920px;
    margin: 0 auto;
}

/* Footer Left */
.footer_left {
    position: relative;
    width: 200px;
    padding-top: 0;
}

.footer_left .logo_container {
    position: relative;
}

.footer_left .overlay_logo {
    position: absolute;
    top: -20px; /* Đặt logo gần phía trên cùng của footer */
    left: -35px; /* Dịch logo về bên trái */
    width: 100%;
    height: auto;
    z-index: 1; /* Đặt logo ở trên văn bản */
}

.footer_left .footer_text {
    position: relative;
    z-index: 0; /* Đặt chữ ở dưới logo */
    font-size: 0.9rem;
    line-height: 1.5;
    color: #ccc;
    margin-top: 50px; /* Tạo khoảng cách để chữ nằm dưới logo */
    white-space: nowrap; /* Ngăn văn bản xuống hàng */
}

/* Footer Right */
.footer_right {
    position: relative;
    width: 350px;
    text-align: left;
    padding-top: 0;
}

.footer_right .logo_container {
    position: relative;
}

.footer_right .overlay_logo {
    position: absolute;
    top: -10px; /* Điều chỉnh vị trí để căn chỉnh với văn bản */
    left: -5px; /* Điều chỉnh vị trí để căn chỉnh với văn bản */
    width: 100%;
    height: auto;
    z-index: 1; /* Đặt logo ở trên văn bản */
}

.footer_right p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 50px; /* Tạo khoảng cách để chữ nằm dưới logo */
    color: #ccc;
    white-space: nowrap; /* Ngăn văn bản xuống hàng */
}