.container {
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
}

/* Banner */
.banner {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

/* Styling for the main banner image */
.banner_image {
    width: 100%;
    height: 590px;
    display: block;
    transition: filter 0.3s ease;
}
.banner:hover .banner_image {
  filter: brightness(0.4);
}

/* Styling for the SPSO overlay image */
.print_image {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 35%; /* Adjust positioning if needed */
    transform: translate(-50%, -50%);
    width: 300px; /* Adjusted size for visibility */
    cursor: pointer;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    opacity: 0; /* Initially hidden */
}

/* Styling for the SPSO overlay image */
.Viewlog_image {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 65%; /* Adjust positioning if needed */
    transform: translate(-50%, -50%);
    width: 300px; /* Adjusted size for visibility */
    cursor: pointer;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    opacity: 0; /* Initially hidden */
}

/* Make SPSO image appear when hovering over the banner */
.banner:hover .print_image,
.banner:hover .Viewlog_image
{
    opacity: 1;
} 

.boxContainer {
    display: flex;
    justify-content: center;
    gap: 50px; /* Tăng khoảng cách giữa các box */
    padding: 20px;
    margin-top: 20px;
}

  
  .box {
    background-color: #6e6e6e; /* Màu nền giống với hình */
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
  }
  
  .box p {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .viewButton {
    background-color: #4aa3f0; /* Màu nút */
    color: white;
    border: none;
    padding: 4px 8px; /* Giảm padding để nút nhỏ lại */
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px; /* Giảm kích thước chữ */
  }

  .viewButton:hover {
    background-color: #379ad1; /* Màu khi hover */
  }
  